*{
    background-color: pink;
    border: 3px solid white;
    display: grid;
    grid-template-rows: 12;
    grid-template-columns: 12;
    grid-gap:10px;



}
h6{
    grid-column: 1/ span 12;
    
}
.side{
    grid-column:1/ span 3;
    grid-row:2/ span 10

}
.nav{
    grid-row:2/ span 1;
    grid-column:4/ span 6;
}
.main{
    grid-row:3/ span 9;
    grid-column:4/ span 6;

}
.ad{
    grid-row:2/span 10;
    grid-column:10 /span 3;

}
.foot{
    grid-column:1/ span 12;
  

}